@import "@/assets/scss/variables";

.general-dialog-wrap {
  .ant-modal-content {
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
  }

  .ant-modal-footer {
    display: none;
  }
}

.btn-delete {
  &.ant-btn-primary {
    &:hover {
      @apply bg-[#D81A48] #{!important}
    }

    @apply bg-[#F8285A] text-white font-semibold #{!important}
  }
}

.btn-close {
  @apply text-black-title font-semibold #{!important};
  &:hover {
    @apply text-blue-55 bg-blue-95 #{!important};
  }
}
