.contentListServer {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
}

.contentListServer::-webkit-scrollbar {
  display: none;
}

.contentListServer {
  -ms-overflow-style: none;
}
